@use 'variables';

.header {
  width: 100%;
  color: variables.$grayColor;
  background-color: variables.$deepBlueColor;

  &__nav {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;

    @media (max-width: 768px) {
      height: 7vh;
      padding-right: 12px;
      gap: 0;
      justify-content: space-between;
    }

    .menu--mobile {
      display: none;
      color: variables.$whiteColor;

      @media (max-width: 768px) {
        width: 100%;
        max-width: 100px;
        padding: 0px 12px;
        height: 6vh;
        display: flex;
        gap: 8px;
        align-items: center;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: variables.$deepGrayColor;
          color: variables.$whiteColor;
        }
      }
    }

    .prime-logo {
      width: 110px;

      @media (max-width: 768px) {
        width: 100px;
      }
    }

    .down-icon {
      width: 12px;
      height: 12px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;

      :hover {
        background-color: variables.$deepGrayColor;
        color: variables.$whiteColor;
      }
    }

    &__options {
      display: flex;
      gap: 25px;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }

      div {
        width: max-content;
        padding: 0px 10px;
        height: 6vh;
        display: flex;
        gap: 8px;
        align-items: center;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: variables.$deepGrayColor;
          color: variables.$whiteColor;
        }
      }
    }

    &__user {
      height: 6vh;
      display: flex;
      align-items: center;
      gap: 25px;

      .user--option {

        @media (max-width: 768px) {
          display: none;
        }
      }

      div {
        height: 6vh;
        display: flex;
        gap: 8px;
        align-items: center;
        transition: 0.2s ease;
        cursor: pointer;
        
        &:hover {
          background-color: variables.$deepGrayColor;
          color: variables.$whiteColor;
        }

        .search-icon {
          width: 30px;
          height: 30px;
        }

        .user-icon {
          width: 40px;
          cursor: pointer;

          @media (max-width: 768px) {
            width: 30px;
          }
        }
      }
    }
  }
}