@use 'variables';

.movie {
  width: 100%;
  height: 100vh;
  background-color: variables.$deepBlueColor;
  color: variables.$whiteColor;

  @media (max-width: 768px) {
    display: none;
  }
  
  .text--color {
    color: variables.$grayColor;
  }

  .text--size {
    font-size: 22px;
    font-weight: 800;
  }

  &__logo {
    width: 100%;
    padding: 2rem 4rem;
    text-align: right;
  }

  &__title {
    width: 100%;
    padding: 2rem 4rem;

    p {
      margin-bottom: 2rem;
    }

    h1 {
      width: 100%;
      max-width: 40%;
      font-size: 3em;
      font-weight: 800;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  &__about {
    width: 100%;
    padding: 2rem 4rem;

    .movie__about__synopsis {
      width: 100%;
      max-width: 55%;
      margin-bottom: 0.5rem;
    }

    div {
      width: 100%;
      max-width: 18%;
      display: flex;
      justify-content: space-between;
    }

    ul {
      width: 100%;
      max-width: 25%;
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;

      li:nth-child(1) {
        list-style: none;
      }
    }
  }

  &__options {
    width: 100%;
    padding: 0 4rem;

    &__test {
      padding: 10px 0;
      display: flex;

      >img {
        width: 25px;
      }

      >p {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 600;
      }
    }

    &__actions {
      width: 100%;
      max-width: 80%;
      display: flex;

      &__watch {
        width: 100%;
        display: flex;
        gap: 1rem;
  
        &__play {
          padding: 5px 15px;
          border-radius: 8px;
          cursor: pointer;
          background-color: variables.$whiteColor;
          color: variables.$deepBlueColor;
          transition: 0.3s ease;
  
          &:hover {
            transform: scale(1.05);
            color: rgb(100, 89, 79);
          }
        
          h4 {
            font-size: 16px;
            font-weight: 600;
          }
        }
  
        &__type {
          padding: 5px 15px;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.3s ease;
          background-color: rgba(255, 255, 255, 0.253);
  
          &:hover {
            transform: scale(1.05);
            background-color: variables.$whiteColor;
            color: variables.$deepBlueColor;
          }
  
          &:nth-child(4) {
            width: 180px;
          }
  
          >h3 {
            font-size: 20px;
            font-weight: 600;
          }
  
          >p {
            font-weight: 700;
            font-size: 20px;
          }
        }
      }

      &__reactions {
        display: flex;
        gap: 1rem;

        button {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          transition: 0.3s ease;
          background-color: rgba(255, 255, 255, 0.253);
  
          &:hover {
            transform: scale(1.05);
          }

          img {
            width: 45px;
          }
        }
      }
    }
  }

  &__free--test {
    padding: 2rem 4rem;
    font-size: 20px;
    font-weight: 600;
  }
}